body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.main-box__bg {
  background-color: rgb(195, 15, 232);
  height: 100vh;
}

.main-box__wrapper {
  padding: 20px;
  text-align: center;
  padding-top: 200px;
}

.main-box__title {
  font-size: 60px;
  text-transform: uppercase;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 200px;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: -30px;
  justify-content: center;
}

.list__items {
  width: 80px;
  height: 80px;
  margin-right: 30px;
}

.list__button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  border: 10px solid transparent;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.list__button:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list__button-blue {
  background-color: blue;
}

.list__button-green {
  background-color: green;
}

.list__button-violet {
  background-color: rgb(195, 15, 232);
}

.list__button-red {
  background-color: red;
}

.list__button-yellow {
  background-color: yellow;
}

.list__button-sky {
  background-color: rgb(0, 153, 255);
}
